@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --primary-red: #ee1c25;
  --primary-white: #ffffff;
  --text-dark: #333333;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  background-color: var(--primary-white);
  color: var(--text-dark);
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}
